* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100vh;
}
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  font-size: 16px;
}
.app {
  display: grid;
  grid-template-areas: 'sidebar header' 'sidebar main';
  grid-template-columns: 140px 1fr;
  grid-template-rows: 50px 1fr;
  height: 100%;
}

aside {
  grid-area: sidebar;
  background: #571845;
  padding: 1rem;
  color: white;
}

header {
  grid-area: header;
  background: #900c3e;
  padding: 1rem;
  color: white;
}

main {
  grid-area: main;
  background: white;
  padding: 1rem;
}
